#front
/oa-front/.vscode
/oa-front/node_modules
/oa-front/dist
/oa-front/dist.zip

#backend
/oa-backend/.vscode
/oa-backend/config/config.yaml
/oa-backend/config/config_release.yaml
/oa-backend/main
/oa-backend/log
/oa-backend/__debug_bin.exe
